<%= form_with(model: @investment, url: group_investments_path, method: :post) do |form| %>
  <div class="icon-wrapper">
    <div class= "icon-container">
      <div class="field pad-new"><%= form.text_field :name, placeholder: "Name", required: true %></div>
      <div class="field-new"><%= form.number_field :amount, step: :any, placeholder: "0.0", required: true %></div>
    <div>
      <%= form.submit "Save", class: 'save' %>
    </div>
  </div>
<%end%>