<div class="icon-wrapper">
    <h3>Transaction Nº00<%= rand(200...500)%><%= investment.id %></h3>
    <p><%= investment.name %>: <%= investment.created_at.strftime("%d %b %y at %l:%M %p")%></p>
</div>
