<%= form_with(model: @group) do |form| %>
  <div class="group">
    <div class= "flex-horizontal">
        <%= form.select :icon, @icons.map { |i| [i.to_s, i.to_s] }, {} %>
      <div class="flex-vertical">
        <%= form.text_field :name, placeholder: "Name", required: true %>
      </div>
    </div>


    <div class="inv-field">
      <%= form.submit "Save", class: 'add-btn' %>
    </div>
  </div>
<%end%>