<%= link_to groups_path do %>
  <h1>MY WALLET</h1>
<%end%>


<div class="position-bot">
  <div class="login"><%= link_to "LOG IN", new_user_session_path%><br /></div>
  <div class="signup"><%= link_to "SIGN UP", new_user_registration_path%><br /></div>
</div>