@font-face {
  font-family: 'novabold';
  src: url("fonts/Proxima-Nova-Bold.otf");
}

@font-face {
  font-family: 'novalight';
  src: url("fonts/Proxima-Nova-Light.otf");
}

@font-face {
  font-family: 'snug';
  src: url("fonts/Snug.ttf");
}

@font-face {
  font-family: 'scifieb';
  src: url("fonts/scifieb.ttf");
}

* {
  list-style: none;
  font-size: 24px;
  text-decoration: none;
  font-family: 'novabold', sans-serif;
  color: #434b54;
  box-sizing: border-box;
  overflow: hidden;
}

.colors {
  color: #434b54;
  color: #3778c2;
  color: #5fb523;
}

html {
  position: relative;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  background-color: aliceblue;
}

.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: #3778c2;
  width: 100%;
}

h1 {
  font-family: 'scifieb', sans-serif;
  font-size: 48px;
  color: hsl(212, 55%, 15%);
}

h2 {
  color: aliceblue;
  font-size: 36px;
}

h4 {
  font-family: 'novalight', sans-serif;
  font-size: 24px;
}

p {
  font-family: 'novalight', sans-serif;
  font-size: 12px;
}

.top-cards,
.top-cards > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  font-size: 18px;
}

.login > *,
.save > *,
.menu > * {
  color: aliceblue;
}

.flex-horizontal > * {
  text-align: center;
}

.flex-vertical > * {
  margin: 0;
  padding: 2px;
  text-align: left;
}

.field > *,
.field-new > * {
  border: none;
  font-size: 18px;
  padding: 18px;
  width: 100vw;
  margin-left: 18px;
}

.field-new > * {
  background-color: white;
}

.field > *:focus {
  outline: none;
}

.field-new {
  width: 10vw;
}

.pad-new {
  width: 30vw;
}

.field-new > *:focus {
  outline: none;
  background-color: white;
}

.position-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  position: absolute;
  bottom: 10vh;
}

.login,
.save,
.menu {
  background-color: #3778c2;
  border-radius: 8px;
  padding: 12px 80px;
  border: none;
  color: aliceblue;
  margin: 18px;
}

.save,
.menu {
  padding: 12px 18px;
}

.login:hover,
.save:hover {
  background-color: #386ca8;
}

.signup {
  padding: 12px 80px;
  border: none;
  margin: 18px;
}

.flex-horizontal,
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 20vw;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.wallet-total {
  background-color: white;
}

.footer-cards {
  background-color: #5fb523;
  width: 100vw;
  position: absolute;
  bottom: 10vh;
}

.green-button {
  background-color: #5fb523;
  color: white;
  border: 1px solid white;
}

.green-button:hover {
  background-color: hsl(95, 67%, 33%);
}

.icon-wrapper {
  border-radius: 8px;
  background-color: white;
  margin-top: 16px;
  padding: 12px;
  width: 60vw;
  align-items: center;
  vertical-align: middle;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 48px;
}

.lorem {
  height: auto;
  width: 30vw;
}

.margin-left {
  margin-left: 5vw;
}

.margin-left-bio {
  margin-left: 10vw;
}

.menu {
  width: 80px;
  filter: invert(100%);
  background-color: transparent;
}

.menu:hover {
  background-color: rgb(196, 148, 60);
}
